<p>structural-directives works!</p>
<!-- <h2 *ngIf="!isLoggedIn">
    Hello Guest
</h2>

<h2 *ngIf="isLoggedIn">
    Hello Nada
</h2> -->

<!-- <div *ngIf="isLoggedIn; then userBlock; else elseBlock">
    hello
</div>




<ng-template #userBlock>
    <h2>
        Hello {{name}}
    </h2>
</ng-template> -->



<!-- <h2 *ngIf="isLoggedIn else elseBlock">
    Hello {{name}}
</h2>

<ng-template #elseBlock>
    <div>
        <h2>
            Hello Guest
        </h2>
    </div>
</ng-template> -->
<!-- 

<form #myForm>

</form> -->

<!-- <div [ngSwitch]="car">
    <div *ngSwitchCase="'LOGAN'">Your car is Logan car</div>
    <div *ngSwitchCase="'KIA'">Your car is KIA car</div>
    <div *ngSwitchDefault>Your have not any car :(</div>
</div> -->
<!-- 
<div *ngIf="name=='ITI'">
    <div style="color:red">Hello ITI</div>
</div>
<div *ngFor="let color of colors ; index as i ;odd as o ;even as e">
    <h2>{{i}}-{{color}} -{{o}}</h2>
</div>

<div *ngFor="let studentName of names">
    <div *ngIf="studentName=='Mostafa'">
        <div style="color:red">{{studentName}}</div>
    </div>
    {{studentName}}
</div> -->
