<p>pipes works!</p>
<br>
<!-- <h1>{{name}}</h1>
<br>
<h1>{{name |lowercase}}</h1>
<br>
<h1>{{name | uppercase}}</h1>
<br>
<h1>{{name | titlecase}}</h1>
<br>
<h1>{{name |slice:3}}</h1>
<br>
<h1>{{name | slice:2:4}}</h1> -->

<!-- <h1>{{3.678}}</h1>
<h1>{{3.678|number:'1.2-3'}}</h1>
<h1>{{3.678|number:'4.4-5'}}</h1>
<h1>{{3.678|number:'4.1-2'}}</h1> -->

<!-- <h1>{{0.45|percent}}</h1>
<h1>{{50|currency}}</h1> -->
<!-- <h1>{{50|currency:'EUR'}}</h1> -->
<!-- 
<h1>{{50|currency:'EUR':'code'}}</h1> -->

{{date}}
<br>
{{date|date:'short'}}
<br>
{{date|date:'shortDate'}}
<br>
{{date|date:'shortTime'}}


{{10|square :20}}