<!-- <app-header></app-header>
<app-main-content></app-main-content>
<router-outlet></router-outlet>
<app-footer></app-footer> -->

<!-- <app-event-binding></app-event-binding> -->
<!-- <app-template-reference-variable></app-template-reference-variable> -->
<!-- <app-two-way-binding></app-two-way-binding> -->
<!-- <app-structural-directives></app-structural-directives> -->
<!-- <app-pipes></app-pipes> -->

<!-- <app-parent></app-parent> -->
<app-employee-details></app-employee-details>
<app-employee-list></app-employee-list>